.idea/
.catkin_workspace

__pycache__/

Controller/devel/
Controller/build/
Controller/.catkin_workspace

Simulator/devel/
Simulator/build/
Simulator/logs/
Simulator/.catkin_tools/

YOPO/saved/*
YOPO/yopo_trt.pth
dataset/
yopo_sim/

!YOPO/saved/YOPO_1/

*.bag